@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EA5959;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #fff;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 1000px;
  height: 700px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 621px;
  color: #525252;
  background-color: #F3F3F3;
}

.todo-input::placeholder {
  color: #b5b5b5;
}

.todo-btn {
  display: none;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5A5A5A;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #5A5A5A;
  cursor: pointer;
}

.completed {
  color: #5A5A5A;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
